.usercenter{

}
.usercenter div.img{
  width: 11rem;
  height: 11rem;
  margin: 0 auto;
}
.usercenter div.img img{
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  display: block;
  margin: 0 auto;
}
